<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>
    <!-- Include Bootstrap Icons (CDN) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">

    <title>Job Portal - Home</title>
</head>
<body>
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">New Jobs!</div>
          <div class="swiper-slide">£1000 for a successful referral!</div>
          <div class="swiper-slide">Technology events coming soon...</div>
        </div>
      </div>

      <div class="navbar">
        <img src="/images/tt-logo.png" class="hidden-right" alt="">
        <i class="fa-solid fa-bars menu hidden-left"></i>
    </div>
    
    <div class="menu-bar">

        <div class="flex-menu">
        <img src="/images/menu-icon.png" class="hidden-right" alt="">
        <i class="fa-solid fa-x"></i>
    </div>
        
        
        <div class="view-flex">
            <li class="view">Home</li>
            <i class="fa-solid fa-arrow-down"></i>
            </div>
            <div class="menu-hidden">
            <ul><a class="scroll-click" href="#journey-scroll">Our journey</a></ul>
            <ul><a class="scroll-click" href="#salary-calculator">Salary Calculator</a></ul>
            <ul><a class="scroll-click" href="#contact">Contact Us</a></ul>
            <ul><a class="scroll-click" href="#accordian">Frequently Asked Questions</a></ul>



            </div>


        <div class="view-flex">
        <li class="view">Clients</li>
        <i class="fa-solid fa-arrow-down"></i>
        </div>
        <div class="menu-hidden">
        <ul>Why work with us</ul>
        <ul>Who works with us</ul>
        <ul>View all clients</ul>
        <ul><a href="https://calendly.com/patrickbell1302/30min?primary_color=262F4C" target="_blank">Book a meeting</a></ul>
        </div>
    
    

        <div class="view-flex">
            <li class="view">Candidates</li>
            <i class="fa-solid fa-arrow-down"></i>
            </div>
            <div class="menu-hidden">
            <ul><a class="scroll-click" href="/jobs.html">Search Jobs</a></ul>
            <ul><a class="scroll-click" href="#referral-scroll">Refer a Friend</a></ul>
            </div>

            <div class="view-flex">
                <li class="view">Admin</li>
                <i class="fa-solid fa-arrow-down"></i>
                </div>
                <div class="menu-hidden">
                <ul id="login-scroll" class="scroll-click">Admin Log in</ul>
                </div>

    </div>





    <form action="/login" method="POST" id="loginForm">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Admin Log in</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

    
        <div class="modal-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <!-- Bootstrap Icon (Font Awesome) -->
                    <i class="bi bi-envelope-fill"></i>
                </span>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </div>
    </div>
  </div>
    </form>


    <div class="toast-container delete-toast-container position-fixed top-0 start-50 translate-middle-x p-3">
        <div id="loginToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Log in Failed!!</strong>
                <small>just now</small>
                <button type="button" class="btn-close delete-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
    









    <div class="front-container">
        <div class="text-container hidden-left">
            <div class="inner-text-container">
        <div class="display-text">
            <h1><span>T</span>ech</h1>
            <h1><span>T</span>roops</h1>
        </div>
        <h5>Tech Troop are one of the UK’s fastest growing Technology and Digital Resource Specialists, recognised for placing professionals in the
             UK’s largest companies, SMEs or niche startups in both Permanent and Contract roles, providing Teams and Consultancy Services</h5>
        <button class="search-all-jobs"><i class="fa-solid fa-magnifying-glass" ></i><a href="/jobs.html"> Search all jobs</a></button>
    </div>
    </div>
    <img src="/images/phone-pic.JPG" class="hidden-right" alt="">
    </div>

    <i class="fa-solid fa-caret-up back-to-top hidden-left" id="to-top"></i>






    <div class="wrapper scrolls" id="client-scroll">
        <div class="wrapper-text">Work with some of the world's most inspiring brands</div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/images/amazon.png">
                </div>
                <div class="slide">
                    <img src="/images/coke.png">
                </div>
                <div class="slide">
                    <img src="/images/deloitte.jpeg">
                </div>
                <div class="slide">
                    <img src="/images/meta.jpeg">
                </div>
                <div class="slide">
                    <img src="/images/nike.png">
                </div>
                <div class="slide">
                    <img src="/images/amazon.png">
                </div>
                <div class="slide">
                    <img src="/images/coke.png">
                </div>
                <div class="slide">
                    <img src="/images/deloitte.jpeg">
                </div>
                <div class="slide">
                    <img src="/images/meta.jpeg">
                </div>
                <div class="slide">
                    <img src="/images/nike.png">
                </div>
            </div>
        </div>
        <button class="wrapper-btn">View our clients</button>
    </div>


    <div class="stat-wrapper scrolls" id="journey-scroll">
        <div class="text-title">Join our journey</div>
        <p class="small-text stat-text">
            Tech Troop is a recent startup that operates in the technology sector, offering services for both contract and permanent job placements. Founded recently, Tech Troop specializes 
            in connecting talented professionals with employers seeking tech expertise. The company's focus extends across various domains within the tech industry, catering to roles 
            ranging from software development and data analysis to cybersecurity and IT support. With its innovative approach and commitment to matching the right talent with the right 
            opportunities, Tech Troop has quickly gained traction in the tech recruitment market, carving out a niche for itself as a reliable partner for both job seekers and employers 
            in the ever-evolving tech landscape. So far, we have achieved:</p>
        <div class="stat-card-container">
            <div class="stat-card hidden-up">
                <i class="fa-solid fa-angles-up"></i>
                <div class="inner-card-container">
                <i class="fa-solid fa-face-smile"></i>
                <p class="stat-t">Happy Customers</p>
                <p class="stat-st">So far, we have helped over 30 customers achieve their goals and fulfill their tech needs. Our dedicated team works tirelessly to ensure each customer 
                    receives personalized attention and finds the perfect solution for their requirements. With our commitment to excellence and customer satisfaction, we continue to 
                    strive towards making a positive impact in the tech community.</p>
                    <button class="stat-btn">Find out more!</button>
            </div>
            </div>
            <div class="stat-card hidden-up">
                <i class="fa-solid fa-angles-up"></i>
                <div class="inner-card-container">
                <i class="fa-solid fa-face-smile"></i>
                <p class="stat-t">Happy Customers</p>
                <p class="stat-st">So far, we have helped over 30 customers achieve their goals and fulfill their tech needs. Our dedicated team works tirelessly to ensure each customer 
                    receives personalized attention and finds the perfect solution for their requirements. With our commitment to excellence and customer satisfaction, we continue to 
                    strive towards making a positive impact in the tech community.</p>
                    <button class="stat-btn">Find out more!</button>
            </div>
            </div>
            <div class="stat-card hidden-up">
                <i class="fa-solid fa-angles-up"></i>
                <div class="inner-card-container">
                <i class="fa-solid fa-face-smile"></i>
                <p class="stat-t">Happy Customers</p>
                <p class="stat-st">So far, we have helped over 30 customers achieve their goals and fulfill their tech needs. Our dedicated team works tirelessly to ensure each customer 
                    receives personalized attention and finds the perfect solution for their requirements. With our commitment to excellence and customer satisfaction, we continue to 
                    strive towards making a positive impact in the tech community.</p>
                    <button class="stat-btn">Find out more!</button>
            </div>
            </div>
            
           
        </div>
    </div>

    <!-- (1) happy customers/reviews (2) number of placements (3) -->



<div class="referral-background scrolls" id="referral-scroll">
    <div class="referral-container">
        <h1 id="refer-text-1">REFER A FRIEND TO US</h1>
        <h4 id="refer-text-2">Every month, we rewards many people for recommending a friend to us. Refer a friend today, and if we place them, 
            you'll earn up to: <div class="referralvalue hidden-up" data-value="1000">1000</div></h4>
        <button id="refer-btn" class="hidden-up">Refer a friend</button>
        <div class="refer-application">
            <h2>Referral Application Form</h2>
            <h3>Your Details</h3>
            <input type="text" name="user-name" id="user-name" placeholder="* Your Name">
            <input type="email" name="user-email" id="user-email" placeholder="* Your Email">
            <h3>Your Friend</h3>
            <input type="text" name="referral-name" id="referral-name" placeholder="* Your Friends Name">
            <input type="email" name="referral-email" id="referral-email" placeholder="* Your Friends Email">
            <input type="number" name="referral-number" id="referral-number" placeholder="* Your Friends Number">
            <div class="flex-container">
            <button id="submit-referral">Submit</button> <button id="close-referral">Close</button>
        </div>

        </div>
    </div>
</div>


<div class="salary-container" id="salary-calculator">
    <div class="text-title">Salary Calculator <i class="fa-solid fa-circle-info" id="salary-i-info"></i></div>
    <p class="salary-text">Wondering what salary you should be looking for? Try our new salary calculator now!</p>

    <div class="salary-input">
        <select name="job-titles" id="job-titles"></select>
    </div>
    <button class="salary-btn">Get Salaries!</button>

    <div class="salary-results">
        <div class="min-salary"></div>
        <div class="median-salary"></div>
        <div class="max-salary"></div>
    </div>
    <div class="salary-info-title title hidden-up"></div>
    <div class="salary-info hidden-up"></div>
</div>










<div class="reviews-container">
    <div class="text-title">What our clients say</div>
    <div class="testimonial-box-container">
        <div class="testimonial-box hidden-left">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/profile1.jpeg" alt="">
                    </div>
                    <div class="name-user">
                        <strong>John Doe</strong>
                        <span>@johndoeweb</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis commodi aspernatur sequi quas maiores, eius unde illum suscipit totam ducimus necessitatibus. Placeat, animi dolorum consequatur adipisci odit soluta illum reiciendis?</p>
            </div>
        </div>
        <div class="testimonial-box hidden-right">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/profile1.jpeg" alt="">
                    </div>
                    <div class="name-user">
                        <strong>John Doe</strong>
                        <span>@johndoeweb</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis commodi aspernatur sequi quas maiores, eius unde illum suscipit totam ducimus necessitatibus. Placeat, animi dolorum consequatur adipisci odit soluta illum reiciendis?</p>
            </div>
        </div>
        <div class="testimonial-box hidden-left">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/profile1.jpeg" alt="">
                    </div>
                    <div class="name-user">
                        <strong>John Doe</strong>
                        <span>@johndoeweb</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis commodi aspernatur sequi quas maiores, eius unde illum suscipit totam ducimus necessitatibus. Placeat, animi dolorum consequatur adipisci odit soluta illum reiciendis?</p>
            </div>
        </div>
        <div class="testimonial-box hidden-right">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/profile1.jpeg" alt="">
                    </div>
                    <div class="name-user">
                        <strong>John Doe</strong>
                        <span>@johndoeweb</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis commodi aspernatur sequi quas maiores, eius unde illum suscipit totam ducimus necessitatibus. Placeat, animi dolorum consequatur adipisci odit soluta illum reiciendis?</p>
            </div>
        </div>
    </div>
    <button class="stat-btn hidden-up">View more!</button>

</div>


<div class="referral-container event-container">
    <h3>25/06/2024 - Leaders Event</h3>
    <p class="s-text event-sub">Tickets out soon...</p>
    <div class="event-flex">
            <input type="email" id="event-email" placeholder="Enter your email...">
            <button class="event-btn" id="event-btn">Register interest</button>
    </div>
</div>
    

<div class="contact-grid" id="contact">
    <div class="contact-info">
        <div class="small-text title">Let's get in touch</div>
        <div class="small-text">Need help? Submit a message via our contact form and we'll get back to you within 2 working days. If you prefer to email us directly, or to call, please
            see below our contact information. Also, please connect with us on all social media platforms!
        </div>
        <div class="flex-container">
            <i class="fa-solid fa-map-location-dot"></i>
            <div class="small-text">1 Cherry Drive London, E1 0AA</div>
        </div>
        <div class="flex-container">
            <i class="fa-solid fa-envelope-circle-check"></i>            
            <div class="small-text">techtroop-info@gmail.com</div>
        </div>
        <div class="flex-container">
            <i class="fa-solid fa-phone-volume"></i>
            <div class="small-text">+44 7717 382 283</div>
        </div>
        <div class="small-text title">Connect with us:</div>
        <div class="flex-container">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
    </div>
    <div class="contact-us-container hidden-right">
        <div class="lg-text">Contact Us</div>
        <div class="s-text">Please fill out the form to get in touch!</div>
        <div class="square"></div>
            <input type="text" name="name" id="name" required placeholder="Name">
            <input type="email" name="email" id="contact-email" required placeholder="Email">
            <textarea name="message" id="message" cols="30" rows="10" required placeholder="Message"></textarea>
            <button class="send-message-btn" disabled></button>
    </div>
</div>



<footer>
    <img src="/images/footer-img.png" alt="">
    <div class="footer-grid">
        <div class="footer-header hidden-left">Clients
            <ul>
                <li><a href="">Who we are</a></li>
                <li><a href="">What we do</a></li>
                <li><a href="">What our clients say</a></li>
                <li><a href="https://calendly.com/patrickbell1302/30min?primary_color=262F4C" target="_blank">Book a meeting</a></li>
            </ul>
        </div>
        <div class="footer-header hidden-left">Candidates
            <ul>
                <li><a href="">Search Jobs</a></li>
                <li><a href="">Referrals</a></li>
                <li><a href="">Upload CV</a></li>
            </ul>
        </div>

        <div class="footer-header hidden-left">Information
            <ul>
                <li><a href="">FAQs</a></li>
                <li><a href="">Get in touch</a></li>
                <li><a href="">Locations</a></li>
            </ul>
        </div>
        <div class="footer-header hidden-left">Socials
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">LinkedIn</a></li>
            </ul>
        </div>
        <div class="footer-header hidden-left">Address
            <ul>
                <p>1 Cherry Drive</p>
                <p>London</p>
                <p>E0 0AA</p>
            </ul><br>
            <div class="footer-header hidden-left">Contact
                <ul>
                    <p>techtroop-info@gmail.com</p>
                </ul>
            </div><br>
            <div class="footer-header hidden-left" id="admin-login">Admin
                <ul>
                    <p><a href="/login">Log in</a></p>
                </ul>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="accordian" id="accordian">
        <div class="accordian-container hidden-up">
        <div class="accordian-header">Where can I get updates on my application?
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="accordian-desc">When you first apply for a job, you will recieve a confirmation email for your application. As we experience high volumes of applicants, we cannot
            gurantee that we will call you straight away. If you ever want to get an update, the best way to get in touch is to contact us via email.
        </div>
    </div>
    <div class="accordian-container hidden-up">
        <div class="accordian-header">Do you have a referral scheme?
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="accordian-desc">Yes. Our referral scheme is simple! If you refer to us a friend who is then placed within a 12 month period, and completes a minimum of 3 months
            on any of our client sites, you will be rewarded <strong>£1000</strong> in vouchers (you can choose!). Eligible referrals <strong>MUST</strong> be submitted via our referral form.
        </div>
    </div>
    <div class="accordian-container hidden-up">
        <div class="accordian-header">What is the best way to get in touch?
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="accordian-desc">The best method to get in touch is email - techtroop-info@gmail.com</div>
    </div>
    <div class="accordian-container hidden-up">
        <div class="accordian-header">When are you expecting to get more vacancies?
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="accordian-desc">We often bring in new jobs so it is always a good idea to check our website. If there is a particular job you are looking for, it may be worth
            reaching out as we will be able to tell you if it is something we expect to get coming up. To view all our jobs, click <a href="/jobs.html">here</a>.
        </div>
    </div>

    <button class="faq-btn">All FAQs</button>
    </div>



    <div class="line"></div>
    <p class="footer-text">By clicking on some of the links above, you will leave the website and be directed to a third-party website. The privacy practices of those third parties may differ from 
        those of Tech Troop. We recommend you review the privacy statements of those third party websites, as Tech Troop is not responsible for those third parties' privacy or security 
        practices</p>
    <p class="footer-text">Tech Troop Recruitment Ltd © 2024</p>  
</footer>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/patrickbell1302/30min?primary_color=262F4C', text: 'Book Meeting', color: '#262F4C', textColor: '#ffffff', branding: undefined }); }</script>
<!-- Calendly badge widget end -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="home.js"></script>
    <script src="salary.js"></script>
</body>
</html>