@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #262F4C;
    --secondary-color: #E2EFF7;
    --light-background: #E7E7E9;
}


/* back to top button */
.fa-caret-up {
    position: fixed;
    font-size: 2rem;
    bottom: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 999; /* Ensure it's above other content */
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 0.75rem;
}


/* navbar */
.navbar{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white !important;
    z-index: 100;
}
img{
    width: 100px;
    height: 100px;
    margin: 0 30px;
}
.menu{
    margin: 0 30px;
    background: var(--primary-color);
    font-size: 2rem;
    padding: 10px;
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
}
.view-flex li{
    font-size: 1rem;
    padding: 12px 5px;
    color: white;
    font-weight: 900;
    list-style: none;
}
ul{
    font-size: 0.75rem;
    padding: 5px;
    color: white;
}
.menu-bar{
    background: var(--primary-color);
    position: absolute;
    right: 0%;
    padding: 10px;
    opacity: 0;
    min-height: 100%;
}
.menu-bar.active {
    position: fixed; /* Fixed position so it remains in place even when scrolling */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left edge of the viewport */
    width: 100%; /* Cover the entire width of the viewport */
    height: 100%; /* Cover the entire height of the viewport */
    background-color: var(--primary-color); /* Adjust the background color as needed */
    opacity: 1;
    z-index: 100;
    overflow-y: auto; /* Enable vertical scrolling if the menu content exceeds viewport height */
    transition: opacity 2s; /* Smooth transition for opacity */
}
.menu-hidden {
    opacity: 0; /* Initially set opacity to 0 */
    height: 0; /* Initially set height to 0 */
    width: 0; /* Initially set width to 0 */
}
.view-flex{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    border-bottom: 1px solid #f4f4f4;
    color: white;
    cursor: pointer;
}
.menu-hidden.active {
    opacity: 1; /* Set opacity to 1 when active */
    height: auto; /* Set height to auto to expand */
    width: auto; /* Set width to auto to expand */
    transition: opacity 2s, height 2s, width 2s; /* Smooth transition for opacity, height, and width */
}
.flex-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-x{
    margin: 0 20px;
    background: white;
    color: var(--primary-color);
    padding: 15px;
    border-radius: 0.4rem;
    cursor: pointer;
}
.fa-x:hover{
    opacity: 0.7;
}
.rotate{
    transform: rotate(180deg);
    transition: 2s;
}


/* swiper header */
.swiper {
    width: 100%;
    height: 3.125rem;
    padding: 10px;
    background: var(--primary-color);
    color: white;
}
.swiper-slide{
    display: flex;
    margin: auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 10px;
    position: absolute;
}
.wrapper-text{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
    margin: 10px 0;
}
.wrapper-btn{
    outline: none;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 15px;
    margin: 10px auto auto;
    border-radius: 0.4rem;
    cursor: pointer;
}
.wrapper{
    background: var(--secondary-color);
    padding: 20px;
}



/* stat section */
.stat-container{
    width: 75%;
    margin: 20px auto 20px auto;
}
.stat-wrapper{
    margin: 40px auto;
}
.text-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    padding: 12px;
    color: var(--primary-color);
}
.stat-card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto auto;
}
.stat-card{
    height: fit-content;
    background: var(--light-background);
    margin: auto auto;
    text-align: center;
    margin: 10px 5px;
    position: relative;
    padding: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.08);
}
.stat-text{
    width: 90%;
    margin: auto auto !important;
    text-align: justify;
}
.fa-angles-up{
    position: absolute;
    right: 10px;
    color: green;
}
.fa-face-smile{
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-top: 15px;
}
.stat-t{
    font-weight: 800;
    color: var(--primary-color);
    font-size: 1.50rem;
}
.stat-st{
    font-size: 0.85rem;
}
.stat-btn{
    background: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    padding: 10px 12px;
    margin-top: 5px;
}




/* refer friend section */
.referral-container{
    display: grid;
    place-items: center;
    background: var(--primary-color);
    color: white;
    width: 100% !important;
    margin: 10px auto 10px auto;
    border-radius: 0.4rem;
    padding: 10px;
}
.referral-background{
    margin-top: 10px;
}
#submit-referral, #close-referral{
    outline: none;
    border: 2px solid white;
    background: transparent;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 0.4rem;
    width: 100%;
}
#refer-btn{
    outline: none;
    border: 2px solid white;
    background: transparent;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 0.4rem;
}
#refer-btn:hover, #submit-referral:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}
.refer-application{
    padding: 10px;
    display: none;
}
h2{
    text-align: center;
}
h3{
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 7.5px;
    margin-top: 5px;
}
h6{
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
}
.terms-container li{
    font-size: 0.75rem;
}
.terms-container{
    display: none;
}
.active{
    display: block;
}
#refer-text-1{
    font-size: 2rem;
}
#refer-text-2{
    text-align: center;
}




/* first part of website */
.front-container {
    width: 100%;
    overflow: hidden;
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.front-container img{
    width: 450px;
    height: 450px;
}
.fa-magnifying-glass{
    color: white;
    margin: 0 5px;
}
.display-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
h5{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
span{
    color: var(--primary-color);
}
button{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}
.search-all-jobs a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.search-all-jobs{
    border: 1px solid white;
    outline: none;
    background: var(--primary-color);
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 0.4rem;
}




/* carasel */
.wrapper{
    display: flexbox;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}
.slider{
    height: 110px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80%;
}
.slider .slide-track {
    animation: scroll 15s linear infinite;
    display: flex;
    width: calc(250px * 10);
}
.slider .slide{
    height: 100px;
    width: 500px;
}
.slider .slide img{
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}





/* contact us section */
.contact-us-container{
    background: var(--primary-color);
    width: 100%;
    padding: 10px;
    position: relative;
}
.square{
    position: absolute;
    top: 30px;
    left: -25px;
    height: 50px;
    width: 50px;
    background: var(--primary-color);
    transform: rotate(45deg);
    z-index: -1;
}
.lg-text{
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
.s-text{
    text-align: center;
    color: white;
}
.contact-us-container input, textarea{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto 5px auto;
    resize: none;
    border-radius: 0.4rem;
}
.send-message-btn{
    outline: none;
    background: var(--primary-color);
    color: white;
    border-radius: 0.4rem;
    text-align: center;
    border: .2rem solid white;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    transition: all 0.2s ease;
      &::before{
        content: 'Send Message';
    }
}
.effect1{
    border-radius: 50%;
    border-color: white;
    border-right-color: var(--primary-color);
    border-width: 0.3rem;
    animation: rotate 1s linear infinite;
    font-size: 0;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.effect2 {
    background: green; /* Change background color to green */
}
.effect2::before{
    content: '\f00c';
    font-family: 'FontAwesome';
    color: white;
}
.effect3 {
    background: red;
}
.effect3::before{
    content: 'x';
    font-family: 'FontAwesome';
    color: white;
}
.contact-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    place-items: center;
    place-content: center;
    margin: 10px auto 20px auto;
    overflow: hidden;
    border-radius: 0.4rem;
}
.contact-info{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-container i{
    font-size: 2rem;
    color: var(--primary-color);
    margin: 0 10px;
}
.small-text{
    margin: 10px 0;
}
.title{
    color: var(--primary-color);
    font-weight: 800;
}



/* animations */
.hidden-left{
    opacity: 0;
    filter: blur(75%);
    transition: all 3s;
    transform: translateX(-100%);
}
.hidden-right{
    opacity: 0;
    filter: blur(75%);
    transition: all 3s;
    transform: translateX(100%)
}
.hidden-up{
    opacity: 0;
    filter: blur(75%);
    transition: all 3s;
    transform: translateY(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



/* reviews section */
.testimonial-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}
.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    margin-left: 5px;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: var(--primary-color);
    font-size: 1.1rem;
    letter-spacing: 0.1px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.reviews-container{
    padding: 20px;
    background: var(--light-background);
    width: 90%;
    margin: auto auto;
    border-radius: 0.4rem;
}
.fa-star{
    color: gold;
}



/* footer */
footer{
    background: var(--secondary-color);
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    width: 90%;
    margin: 0 40px;
}
.footer-header{
    color: var(--primary-color);
    font-weight: 800;
}
.footer-header a, .footer-header ul{
    list-style: none;
    text-decoration: none;
    color: black;
}
.footer-header li{
    padding: 10px 0;
}
.footer-header li:hover{
    transform: translateX(-5px);
    transition: .2s;
}
.footer-header p{
    color: black;
    width: 100%;
}
.line{
    width: 90%;
    border-top: 3px solid var(--primary-color);
    margin: auto auto;
}
.footer-text{
    margin: 0 40px;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
}



/* event container */
.event-container {
    position: relative;
    background: var(--primary-color);
    padding: 30px;
    height: 40vh;
    width: 100%;
    margin: 30px 0;
}
.event-sub{
    margin-top: -35px;
}
.event-flex{
    width: 100% !important;
    position: relative;
}
.event-flex input[type=email] {
    padding: 10px;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    background: var(--secondary-color);
}
.event-btn{
    position: absolute;
    top: 55%; 
    right: -60px;
    transform: translate(-50%, -50%);
    padding: 8px;
    border: none;
    outline: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    border-radius: 0.4rem;
}



/* faq footer */
.accordian-container{
    width: 75%;
    margin: 5px auto 5px auto;
    font-size: 0.75rem;
}
.fa-plus.hide{
    display: none;
}
.accordian-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: white;
    padding: 8px;
    margin: 5px 0 0 0;
    border-radius: 0.4rem 0.4rem 0 0;
    cursor: pointer;
}
.accordian-desc{
    background: var(--light-background);
    padding: 8px;
    border-radius: 0 0 0.4rem 0.4rem;
    display: none;
}
.accordian-desc.active{
    display: block;
}
.faq-btn{
    outline: none;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 15px;
    margin: 10px auto auto;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-bottom: 10px;
}



/* salary section */
.salary-container{
    width: 80%;
    margin: auto auto;
}
.salary-text{
    text-align: center;
}
select{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin: auto auto;
    width: 75%;
}
option{
    background: var(--primary-color);
    color: white;
}
.salary-btn{
    outline: none;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 15px;
    margin: 10px auto 5px auto;
    border-radius: 0.4rem;
    cursor: pointer;
}
.min-salary{
    background: var(--light-background);
    color: black;
    font-weight: 800;
    padding: 10px;
    margin: 5px;
    transition: all 0.5s;
    animation: width-min linear 3s;
    width: 40%;
    overflow: hidden;
    border-radius: 0.4rem;
}
.median-salary{
    background: #343e6a;
    color: white;
    font-weight: 800;
    padding: 10px;
    margin: 5px;
    transition: all 0.5s;
    animation: width-med linear 3s;
    width: 66%;
    overflow: hidden;
    border-radius: 0.4rem;
}
.max-salary{
    background: var(--primary-color);
    color: white;
    font-weight: 800;
    padding: 10px;
    margin: 5px;
    transition: all 0.5s;
    animation: width-max linear 3s;
    width: 100%;
    overflow: hidden;
    border-radius: 0.4rem;
}
.salary-results{
    display: none;
}
.salary-info-title{
    margin: 10px 0 5px 0;
}
@keyframes width-min {
    0% {
      width: 0; /* Start with a width of 0 */
      filter: blur(5px);
    }
    100% {
      width: 40%;
      filter: blur(0); /* End with a width of 100% */
    }
  }
  @keyframes width-med {
    0% {
      width: 0; /* Start with a width of 0 */
      filter: blur(5px);
    }
    100% {
      width: 66%; /* End with a width of 100% */
      filter: blur(0);
    }
  }
  @keyframes width-max {
    0% {
      width: 0; /* Start with a width of 0 */
      filter: blur(5px);
    }
    100% {
      width: 100%; /* End with a width of 100% */
      filter: blur(0);
    }
  }
  .tippy-box[data-theme~='tomato'] {
    background: rgb(207, 47, 19);
    color: white;
  }
  .tippy-box[data-theme~='tomato'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: rgb(207, 47, 19);;
  }
  .tippy-box[data-theme~='tomato'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: rgb(207, 47, 19);;
  }
  .tippy-box[data-theme~='tomato'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: rgb(207, 47, 19);;
  }
  .tippy-box[data-theme~='tomato'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: rgb(207, 47, 19);;
  }




/* responsiveness queries*/
@media screen and (max-width: 400px) {
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reiviews{
        margin-top: 10px;
    }
}
@media screen and (max-width: 650px) {
    h1{
        font-size: 2.5rem;
    }
    h5{
        font-size: 0.75rem;
        width: 80%;
        text-align: center;
        margin: auto auto;
    }
    .stat-card-container{
        display: block;
    }
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-bar.active{
        top: 150px;
    }
}
@media screen and (max-width: 1060px) {
    .testimonial-box{
        width: 45%;
        padding: 10px;
    }
}
@media screen and (max-width: 968px) {
    .contact-grid{
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }
    .square{
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .front-container{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
    .front-container img{
        height: 250px;
        width: 250px;
    }
    .testimonial-box{
        width: 100%;
    }
}