@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-color: #262F4C;
    --secondary-color: #E2EFF7;
    --light-background: E7E7E9;
}   
/* navbar */

/* navbar */
.navbar{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white !important;
    z-index: 100;
}
img{
    width: 100px;
    height: 100px;
    margin: 0 30px;
}
.menu{
    margin: 0 30px;
    background: var(--primary-color);
    font-size: 2rem;
    padding: 10px;
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
}
.view-flex li{
    font-size: 1rem;
    padding: 12px 5px;
    color: white;
    font-weight: 900;
    list-style: none;
}
ul{
    font-size: 0.75rem;
    padding: 5px;
    color: white;
}
.menu-bar{
    background: var(--primary-color);
    position: absolute;
    right: 0%;
    padding: 10px;
    opacity: 0;
    min-height: 100%;
}
.menu-bar.active {
    position: fixed; /* Fixed position so it remains in place even when scrolling */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left edge of the viewport */
    width: 100%; /* Cover the entire width of the viewport */
    height: 100%; /* Cover the entire height of the viewport */
    background-color: var(--primary-color); /* Adjust the background color as needed */
    opacity: 1;
    z-index: 100;
    overflow-y: auto; /* Enable vertical scrolling if the menu content exceeds viewport height */
    transition: opacity 2s; /* Smooth transition for opacity */
}
.menu-hidden {
    opacity: 0; /* Initially set opacity to 0 */
    height: 0; /* Initially set height to 0 */
    width: 0; /* Initially set width to 0 */
    overflow: hidden;
}
.menu-hidden ul a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.view-flex{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    border-bottom: 1px solid #f4f4f4;
    color: white;
    cursor: pointer;
}
.menu-hidden.active {
    opacity: 1; /* Set opacity to 1 when active */
    height: auto; /* Set height to auto to expand */
    width: auto; /* Set width to auto to expand */
    transition: opacity 2s, height 2s, width 2s; /* Smooth transition for opacity, height, and width */
}
.flex-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-x{
    margin: 0 20px;
    background: white;
    color: var(--primary-color);
    padding: 15px;
    border-radius: 0.4rem;
    cursor: pointer;
}
.fa-x:hover{
    opacity: 0.7;
}
.rotate{
    transform: rotate(180deg);
    transition: 2s;
}


/* job card */

.jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin: auto auto;
    z-index: 1;
}

.job-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 20px;
    background: white;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin: 10px;
}
.location, .work-schedule, .pay-rate, .short-desc{
    margin: 0 10px;
}
.job-type{
    background: var(--primary-color);
    color: white;
    padding: 10px;
}
.location{
    color: var(--primary-color);
}
.date-container{
    border-top: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.short-desc{
    margin: 10px;
    font-size: 0.85rem;
}
.view{
    background: var(--primary-color);
    padding: 10px;
    color: white;
    cursor: pointer;
}



/* Adjusting filtering styles */
/* Adjusting filtering styles */
.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--primary-color);
    padding: 20px;
    color: white;
}

.search-container,
#job-type-option, #job-schedule-option {
    width: 75%;
}

.search-bar {
    width: 100%; /* Adjusted to fit the width of its parent */
}
.search-bar::placeholder{
    color: white;
}
#job-count-info{
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}
input, select {
    padding: 10px;
    margin-top: 5px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(223, 217, 217);
    background: var(--primary-color);
    color: white;
}
option{
    background: white;
    color: var(--primary-color);
}
#reset-btn{
    background: var(--primary-color);
    border: 1px solid rgb(223, 217, 217);
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 75%;
    cursor: pointer;
}
#reset-btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color)
}



/* loader */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading{
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}



/* footer */
footer{
    background: var(--secondary-color);
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    width: 90%;
    margin: 0 40px;
}
.footer-header{
    color: var(--primary-color);
    font-weight: 800;
}
.footer-header a, .footer-header ul{
    list-style: none;
    text-decoration: none;
    color: black;
}
.footer-header li{
    padding: 10px 0;
}
.footer-header li:hover{
    transform: translateX(-5px);
    transition: .2s;
}
.footer-header p{
    color: black;
    width: 100%;
}
.line{
    width: 90%;
    border-top: 3px solid var(--primary-color);
    margin: auto auto;
}
.footer-text{
    margin: 0 40px;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
}


/* faq footer */
.accordian-container{
    width: 75%;
    margin: 5px auto 5px auto;
    font-size: 0.75rem;
}
.fa-plus.hide{
    display: none;
}
.accordian-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: white;
    padding: 8px;
    margin: 5px 0 0 0;
    border-radius: 0.4rem 0.4rem 0 0;
    cursor: pointer;
}
.accordian-desc{
    background: var(--light-background);
    padding: 8px;
    border-radius: 0 0 0.4rem 0.4rem;
    display: none;
}
.accordian-desc.active{
    display: block;
}
.faq-btn{
    outline: none;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 15px;
    margin: 10px auto auto;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 1170px) {
    .jobs-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.75rem;
    }
}

@media screen and (max-width: 650px) {
    .jobs-container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}


